<section id="games" class="games clear clearfix">
    <h2>Your Game Nights</h2>
    <% if current_user.nights.empty? %>
        <h3>You have no game nights set up.</h3>
    <% end %>

    <ul id="games" class="games clearfix">
        <% for night in current_user.nights do %>
            <li class="game">
                <h4><%= link_to night.name, night %></h4>
                <%= render :partial => 'nights/playerlist', :locals => {:night => night} %>
                <%= link_to "View more", night, :class => "button go" %>
                <%= link_to t('links.remove_night'), night_path(night), :method => :delete, :confirm => "Are you sure you want to leave #{night.name}? If you are the last player to leave, the night will be deleted from our systems.", :class => "delete button caution" %>
            </li>
        <% end %>
    </ul>

    <%= form_for Night.new do |f| %>
        <%= f.label :name, "Create a new game night" %>
        <%= f.text_field :name, :placeholder => "Name your new game night" %>
        <%= f.submit t('buttons.create_night'), 'data-disable-with' => "Saving..." %>
    <% end %>

</section>

<section id="games_list" class="games_list clear clearfix">
    <%= render :partial => 'games/list', :locals => {:user => current_user} %> 
</section>

<section id="friends" class="friends clearfix">
    <h2>Your Friends</h2>
    <div class="column youfriended">
        <h3>People you have friended:</h3>
        <ul>
            <% for friendship in current_user.friendships %>
                <li class="<%= friendship_classname(friendship) %>">
                    <%= friendship.friend.name %>
                    (<%= link_to "remove", friendship, :method => :delete %>)
                </li>
            <% end %>

            <% if current_user.friendships.empty? %>
                <h4>You have no friends. ☹</h4> 
            <% end %>
        </ul>
    </div>

    <div class="column theyfriended">
        <h3>People Who Have Befriended You</h3>
        <ul>
            <% for user in current_user.inverse_friends %>
                <li><%= user.name %>
                    <%= link_to t('links.add_friend'), friendships_path(:friend_id => user), :method => :post %>
            </li>
            <% end %>

            <% if current_user.inverse_friends.empty? %>
                <h4>No one has befriended you. ☹</h4> 
            <% end %>
        </ul>
    </div>

    <div class="friend_search clearfix">
        <h3>Search for new friends by e-mail</h3>
        <%= render :partial => '/users/search_form' %>
    </div>

<% if @users %>
    <div class="friend_results clearfix">
        <h3>Friend search results</h3>
        <%= render :partial => '/users/search_results' %>
    </div>
<% end %>
</section>
