<section id="games" class="games">
    <%= link_to t('links.create_night'), add_new_nights_path, :class => "button add_new_night", :id => "add_new_night" %>

    <% for night in current_user.nights do %>
        <% if night.users.count > 1 %>
            <h3>Your game night with:</h3>
                <% for user in night.users %>
                    <%= user.name %>, 
                <% end %> 
        <% else %>
            <p>Add some friends to your game night</p>
        <% end %>
    <% end %>
</section>

<h2>Your Friends</h2>
<ul>
    <% for friendship in current_user.friendships %>
        <li class="<%= friendship_classname(friendship) %>">
            <%= friendship.friend.name %>
            (<%= link_to "remove", friendship, :method => :delete %>)
        </li>
    <% end %>  
</ul>

<h2>People Who Have Befriended You</h2>
<ul>
    <% for user in current_user.inverse_friends %>
        <li><%= user.name %>
            <%= link_to t('links.add_friend'), friendships_path(:friend_id => user), :method => :post %>
    </li>
    <% end %>
</ul>

<%= render :partial => 'games/list', :locals => {:user => current_user} %> 
