<div class="hero-unit">
    <h1>Make It A <em>Game Night</em></h1>
    <p>Game Night is a Web application for planning, tracking, and maintaining your weekly or monthly board game nights.</p>
    <p><a class="btn btn-primary btn-large">Get Started <i class="icon-circle-arrow-right icon-white"></i></a></p>
</div>

<section id="blog" class="blog">
  <h2>Posts</h2>
  <% Post.all.each do |post| %>
    <article id="post_#{post.id}" class="post">
      <h3><%= post.title %></h3>
      <%= markdown post.body %>
      <p class="readmore"><%= link_to 'Read More', post %></p>
    </article>
  <% end %>

  <%= "<p>No one has posted anything yet.</p>".html_safe unless @posts.present? %></p>
</section>

<%=
  readme = File.open(Rails.root + "README.md")
  (render :text => markdown(readme.read)).html_safe
%>
