<% @page_title = @night.name %>
<h2><%= @night.name %></h2>

<%= render :partial => 'nights/playerlist', :locals => {:night => @night} %>

<section id="blog" class="blog column">
    <h3>News and updates for <%= @night.name%></h3>
    <%= link_to "New blog post", new_night_post_path(@night), :class => "btn" %>
    <% if @night.posts.blank? %>
		<p>This Game Night has no blog posts yet.</p>
	<% end %>
  <%= render :partial => 'posts/post_preview', :collection => @posts %>
</section>

<section id="games" class="games column">
    <h3>Your Game Night's collection</h3>
    <ul>
        <% for game in night_game_union(@night) do %>
            <li><%= game.name %></li>
        <% end %>
    </ul>
</section>
