<% @page_title = @night.name %>
<h2><%= @night.name %></h2>

<section id="night_admin" class="admin controls">
<%= link_to '<i class="icon-edit icon-white"></i> Edit This Game Night'.html_safe, edit_night_path(@night), :class => "btn btn-primary" %>
  <% if @night.users.count > 1 %>
    <%= link_to '<i class="icon-remove-circle icon-white"></i> Delete Game Night', night_path(@night), :class => "btn btn-danger", :method => "delete", :confirm => "Are you sure you want to delete this game night?" %>
  <% else %>
    <p class="btn disabled"><i class="icon-remove-circle"></i> Delete Game Night</p>
    <small>You can't delete a game night that still has players!</small>
  <% end %>
</section>

<%= render :partial => 'nights/playerlist', :locals => {:night => @night} %>

<section id="blog" class="blog column">
  <h3>News and updates for <%= @night.name%></h3>

  <%= link_to '<i class="icon-plus icon-white"></i> New blog post'.html_safe, new_night_post_path(@night), :class => 'btn btn-success' %>

  <% if @night.posts.blank? %>
    <p>This Game Night has no blog posts yet.</p>
  <% end %>

  <%= render :partial => 'posts/post_preview', :collection => @night.posts %>
</section>

<section id="games" class="games column">
    <h3><%= @night.name %>'s game collection</h3>

    <% if @night.owned_games.blank? %>
      <p>No one in this game night has any games! Seriously, guys? <em>No games?</em></p>
    <% end %>

    <ul>
      <%= render :partial => 'games/game_card', :collection => @night.owned_games %>
    </ul>
</section>

<section id="invites" class="column">
    <h3>Invite your friends to join <%= @night.name %></h3>
    <%= form_for @night, :url => night_add_players_path(@night) do |f| %>
    <ul>
        <% for player in current_user.friends do %>
            <li><%= check_box_tag("add_player_id[#{player.id}]") %><%= label_tag("add_player_id[#{player.id}]", player.name) %></li>
        <% end %>
    </ul>
    <%= f.submit "Add friend(s) to #{@night.name}", :class => "btn", :id => "add_players_to_night" %>
    <% end %>
</section>
