<div id="friendme_button" class="friendme_button">
    <% if user_signed_in? %>
        <% if current_user.friends.include?(user) %>
            <p>You are friends with <%= user.name %></p>
            (<%= link_to t('links.remove_friend'), associated_friendship(user), :method => :delete %>)
            <% unless @night.nil? %><%= link_to "Add to #{@night.name}", "#", :class => "btn" %><% end %>
        <% else %>
            <% if @night.nil? %>
                <%= link_to t('links.add_friend'), friendships_path(:friend_id => user), :method => :post, :class => "btn" %>
            <% else %>
                <%= link_to "Add friend and invite to #{@night.name}", "#", :class => "btn", :id => "add_friend_and_invite_to_night" %>
            <% end %>
        <% end %>
    <% end %>
</div>